<% var limitOptions = [10, 30, 50, 100, 200, 500, 1000, 2000, 10000]; %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" media="all" type="text/css" href="/css/elog.css">
    </head>
    <body>
        <h2>Logs list</h2>
        <form action="/" method="get">
           Show <select size="1" name="limit">
            <% for (var i = 0; i < limitOptions.length; i++) { %>
                <% var selected = limitOptions[i] == currentLimit ? ' selected="selected"' : '' %>
                <option value="<%= limitOptions[i] %>"<%= selected %>><%= limitOptions[i] %></option>
            <% } %>
            </select> rows per page in 
            <select size="<%= allApps.length + 1 %>" name="apps[]" multiple="multiple">
              <option value="" class="title">Apps</option>
              <% for (var i = 0; i < allApps.length; i++) { %>
                <% 
                var selected = '';
                for (var j = 0; j < currentApps.length; j++) {
                  if (currentApps[j] == allApps[i]) {
                    selected = 'selected="selected"';
                    break;
                  }
                }
                %>
                <option value="<%= allApps[i] %>"<%= selected %>><%= allApps[i] %></option>
              <% } %>
            </select> and
            <select size="<%= allHosts.length + 1 %>" name="hosts[]" multiple="multiple">
              <option value="" class="title">Hosts</option>
              <% for (var i = 0; i < allHosts.length; i++) { %>
                <% 
                var selected = '';
                for (var j = 0; j < currentHosts.length; j++) {
                  if (currentHosts[j] == allHosts[i]) {
                    selected = 'selected="selected"';
                    break;
                  }
                }
                %>
                <option value="<%= allHosts[i] %>"<%= selected %>><%= allHosts[i] %></option>
              <% } %>
            </select>
            during <input type="text" name="startDate" value="<%= currentStartDate %>" placeholder="start date/time" title="Format: xxxx-xx-xx or xxxx-xx-xx hh:ss:mm"> and 
            <input type="text" name="endDate" value="<%= currentEndDate %>" placeholder="end date/time" title="Format: xxxx-xx-xx or xxxx-xx-xx hh:ss:mm">
            ,
            <input type="submit" value="Filter Logs" class="button">
           </select>
        </form>
        <table cellspacing="1" cellpadding="3" id="logs">
            <tr id="logsHeader">
                <th class="time">Time</th>
                <th class="host">Host</th>
                <th class="app">App</th>
                <th class="level">Level</th>
                <th class="message">Message</th>
            </tr> 
            <% include logs %>
        </table>
        <div id="footer">
           &copy;elog <%= new Date() %>
        </div>
        <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="/js/elog.js"></script>
        <script>
            $(function(){
                elog({
                    refresh_time: <%= refreshTime %>
                });
            });
        </script>
    </body>
</html>
