<% for (var i = 0; i < docs.length; i++) { %> 
    <% date = new Date(docs[i].time) %>
    <tr class="level<%= docs[i].level %>" data-rel="<%= docs[i].time %>">
        <td><%= utils.showDate(date) %></td>
        <td><%= docs[i].hostname %></td>
        <td><%= docs[i].app %></td>
        <td><%= utils.getLevelById(docs[i].level) %></td>
        <td><%= docs[i].msg %></td>
    </tr>
<% } %>
